* {
  font-family: "Merienda", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

h2 {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

p {
  font-weight: 400;
  font-size: 14px;
  color: black;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.container {
  max-width: 1140px;
  margin: 0px auto;
}

header {
  padding-top: 30px;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
header ul a {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
header ul li {
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

footer {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
footer ul a {
  font-weight: 700;
  font-size: 12px;
  color: black;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
footer ul li {
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
footer:after {
  margin-top: 30px;
  content: url(../../images/beans-black.svg);
}

.coffee__item {
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}
.coffee__item-enter {
  opacity: 0;
}
.coffee__item-enter-active {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.coffee__item-exit {
  opacity: 1;
}
.coffee__item-exit-active {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

.b:before {
  content: url(../../images/beans2.png);
}

.w:before {
  content: url(../../images/beans.png);
}