* {
  font-family: "Merienda", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

h2 {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

p {
  font-weight: 400;
  font-size: 14px;
  color: black;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.container {
  max-width: 1140px;
  margin: 0px auto;
}

header {
  padding-top: 30px;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
header ul a {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
header ul li {
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

footer {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
footer ul a {
  font-weight: 700;
  font-size: 12px;
  color: black;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
footer ul li {
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
footer:after {
  margin-top: 30px;
  content: url(../../images/beans-black.svg);
}

.coffee__item {
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}
.coffee__item-enter {
  opacity: 0;
}
.coffee__item-enter-active {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}
.coffee__item-exit {
  opacity: 1;
}
.coffee__item-exit-active {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

.b:before {
  content: url(../../images/beans2.png);
}

.w:before {
  content: url(../../images/beans.png);
}

.main {
  background: url(../../images/mainbg.jpg);
  height: 640px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 111px;
}
.main__title__btn {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #fff;
  border-radius: 3px;
  width: 120px;
  height: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0);
}
.main__title__btn:hover {
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main__title__text {
  margin-bottom: 15px;
}
.main__title__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__title__main:after {
  content: url(../../images/beans-white.svg);
  margin-bottom: 15px;
}

.about {
  padding-top: 80px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}
.about__title:after {
  content: url(../../images/beans-black.svg);
  margin-top: 20px;
}
.about__par {
  margin-top: 40px;
  text-align: center;
  width: 589px;
}

.our_best {
  padding-top: 80px;
  padding-bottom: 110px;
  background: url(../../images/paper.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our_best__title {
  color: black;
  text-align: center;
}
.our_best__items {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}
.our_best-item {
  width: 220px;
  height: 240px;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  color: black;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.our_best-item__img {
  height: 135px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.our_best-item:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.9);
}
.our_best-item__price {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-weight: 700;
}