* {
  font-family: "Merienda", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: 0px auto;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

h2 {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

p {
  font-weight: 400;
  font-size: 14px;
  color: black;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

header {
  padding-top: 30px;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
header ul a {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
header ul li {
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
header ul li:first-child::before {
  content: url(../../images/beans.png);
}

footer {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
footer ul a {
  font-weight: 700;
  font-size: 12px;
  color: black;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
footer ul li {
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
footer ul li:first-child::before {
  content: url(../../images/beans2.png);
}
footer:after {
  margin-top: 30px;
  content: url(../../images/beans-black.svg);
}

.head {
  background: url(../../images/ourcoffee.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 260px;
}
.head__title {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_beans {
  margin-top: 70px;
}
.about_beans__title {
  color: black;
  text-align: center;
}
.about_beans__title:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  content: url(../../images/beans-black.svg);
  margin-top: 15px;
}
.about_beans__text {
  margin-top: 20px;
  width: 346px;
  text-align: center;
}
.about_beans:after {
  content: url(../../images/line.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}

.filters_coffee {
  margin-top: 60px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filters_coffee__items {
  max-width: 800px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.filters_coffee-item {
  width: 220px;
  height: 260px;
  background: rgba(255, 255, 255, 0.65);
  -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  color: black;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.filters_coffee-item__img {
  height: 135px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filters_coffee-item__price, .filters_coffee-item__country {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search-inp {
  border-radius: 4px;
  border: transparent;
  width: 180px;
  height: 30px;
  -webkit-box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  text-align: center;
}
#search-inp::-webkit-input-placeholder {
  text-align: center;
}
#search-inp::-moz-placeholder {
  text-align: center;
}
#search-inp:-ms-input-placeholder {
  text-align: center;
}
#search-inp::-ms-input-placeholder {
  text-align: center;
}
#search-inp::placeholder {
  text-align: center;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filters__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.filters button {
  width: 75px;
  height: 30px;
  background-color: #fff;
  border: transparent;
  -webkit-box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
}
.filters button:first-child {
  border-radius: 4px 0 0 4px;
}
.filters button:last-child {
  border-radius: 0 4px 4px 0;
}