* {
  font-family: "Merienda";
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0px auto;
}

.main {
  background: url(../images/mainbg.jpg);
  height: 640px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 30px;
}
.main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.main ul li {
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.main ul li:first-child::before {
  content: url(../images/beans.png);
}
.main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 111px;
}
.main__title__btn {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #fff;
  border-radius: 3px;
  width: 120px;
  height: 30px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0);
}
.main__title__text {
  margin-bottom: 20px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
h1:after {
  content: url(../images/beans-line.svg);
}

h2 {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}