@import "index.scss";

.head {
    background: url(../../images/ourcoffee.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 260px;

    &__title {
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }
}

.about_beans {
    margin-top: 70px;
    &__title {
        color: black;
        text-align: center;
        &:after {
            display: flex;
            align-items: center;
            flex-direction: column;
            content: url(../../images/beans-black.svg);
            margin-top: 15px;
        }
    }

    &__text {
        margin-top: 20px;
        width: 346px;
        text-align: center;
    }

    &:after {
        content: url(../../images/line.svg);
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.filters_coffee {
    margin-top: 60px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    &__items {
        max-width: 220px*3 + 140px;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 70px;
        flex-wrap: wrap;
    }
    &-item {
        width: 220px;
        height: 260px;
        background: rgba(255, 255, 255, 0.65);
        box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        gap: 10px;
        @include font(400, 14px, black);
        &__img {
            height: 135px;
            align-items: center;
            display: flex;
        }
        &__price,
        &__country {
            align-self: end;
        }

    }
}

.search {
    display: flex;
    gap: 20px;
    align-items: center;
}
#search-inp {
    border-radius: 4px;
    border: transparent;
    width: 180px;
    height: 30px;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    text-align:center;

    &::placeholder {
        text-align: center;
    }
}

.filters {
    display: flex;
    gap: 35px;
    align-items: center;
    &__btns {
        display: flex;
        gap: 5px;
    }
    button {
        &:first-child {
            border-radius: 4px 0 0 4px;
        }
        &:last-child {
            border-radius: 0 4px 4px 0;
        }
        width: 75px;
        height: 30px;
        background-color: #fff;
        border: transparent;
        box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
    }

   
}
